@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pixelify+Sans:wght@400..700&display=swap');

/* Estilo Global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    font-size: 1em; 
}

/* Encabezado */
.header {
    background-color: #ffffff; 
    color: #000; 
    padding: 1.25em 2em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo-image {
    height: 5.5em; 
    margin-right: 2.5em; 
}

/* Menú de Navegación */
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.875em; 
}

.menu ul li a:not(.btn-unique) {
    background-color: #e4f7ff; 
    color: #000; 
    text-decoration: none; 
    font-size: 1.125em;
    padding: 0.4em 1em;
    border-radius: 1.25em; 
    display: inline-block; 
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
    transition: background-color 0.3s ease;
}

.menu ul li a:not(.btn-unique):hover {
    background-color: #d0ecf8; 
}

/* Botón "Registrarse" */
.btn-unique {
    background-color: #5398dc; 
    color: white; 
    border: none; 
    padding: 0.5em 1.5em; 
    font-size: 1.125em; 
    cursor: pointer; 
    border-radius: 1.25em; 
    text-align: center; 
    display: inline-block; 
    font-family: 'Roboto', sans-serif; 
    transition: background-color 0.3s ease; 
    text-decoration: none; 
}

.btn-unique:hover {
    background-color: #417bb5;
}

/* Estilo del Título "EducaBiblio" */
.titulo {
    font-family: "Bungee", sans-serif;
    color: transparent; 
    -webkit-text-stroke: 0.05em #00376e; 
    display: inline-block; 
    font-size: 3em; 
    text-align: center; 
    line-height: 1; 
    margin: 0;
    color:#5398dc;
}

/* Contenedor de Título */
.features-title, .titulo-container {
    text-align: center; 
    margin: 2em 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* Sección Principal de Información */
.main-info {
    background-color: #ffffff; 
    padding: 5em 1.25em; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.info-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 75em; 
    width: 100%; 
}

/* Sección de Texto */
.text-section {
    width: 40%; 
    padding: 1.25em; 
    text-align: justify; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.text-section p {
    color: #333; 
    font-size: 1.125em; 
    margin-top: 0; 
    margin-bottom: 1.875em; 
    width: 100%; 
}

/* Botón "Ingresar" */
.btn-ingresar {
    background-color: #2196F3; 
    color: #ffffff; 
    padding: 0.625em 1.25em; 
    border: none; 
    border-radius: 1.25em; 
    font-size: 1.125em; 
    cursor: pointer; 
    text-align: center;
    display: block; 
    margin-top: 1em; 
}

.btn-ingresar:hover {
    background-color: #1976D2; 
}

/* Sección de Imagen */
.image-section {
    width: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.circular-image {
    width: 32em; 
    height: 32em; 
    border-radius: 50%; 
    object-fit: cover; 
}

/* Sección de Características */
.features {
    display: flex;
    justify-content: space-around;
    padding: 3.125em;
    background-color: #fff;
    flex-wrap: wrap;
    gap: 1.5em;
}

.feature {
    width: 45%;
    text-align: center;
    padding: 1.25em;
    background-color: #f9f9f9;
    border: 0.125em solid #00BFFF;
    border-radius: 0.625em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: translateY(-0.5em);
    box-shadow: 0 0.75em 1.5em rgba(0, 0, 0, 0.15);
}

.feature img {
    width: 5em;
    margin-bottom: 1.25em;
    border-radius: 50%;
    border: 0.125em solid #00BFFF;
}

.feature h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: 'Roboto', sans-serif;
}

.feature p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

/* Estilo del Título "Contacto" */
.contact-title {
    text-align: center;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-title .title {
    font-family: "Bungee", sans-serif;
    color: transparent;
    -webkit-text-stroke: 0.03em #00376e;
    text-stroke: 0.03em #00376e;
    display: inline-block;
    font-size: 3em;
    text-align: center;
    margin: 0;
    color: #5398dc;
}

/* Sección de Contacto */
.contact {
    background-color: #ffffff;
    padding: 3.125em;
    color: #000000;
    font-size: 1.125em;
}

/* Contenedor de Información y Mapa */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
    flex-wrap: wrap;
}

/* Información de Contacto */
.contact-info {
    flex: 1;
    padding-right: 1.5em;
    max-width: 50%;
}

/* Mapa de Google Maps */
.contact-map {
    flex: 1;
    max-width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-map iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

/* Pie de Página */
.footer {
    background-color: #5398dc;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1.25em 0;
    font-size: 0.875em;
}





